.headerForm {
    display: flex;
    gap: 18px;
  }
  
  #headerContent > p,
  h2 {
    margin: 0;
  }
  
  #headerContent > h2 {
    color: #FBA403
  }
  
  #headerContent {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  