.radioContainer{
  display: flex;
  align-items: flex-start;
  width: fit-content;
  margin-top: 16px;
  gap: 10px;
}

.formContainer{
  width: 100%;
  height: fit-content;
}

.groupContainer{
  padding: 30px;

  gap: 24px;
  flex-shrink: 0;
}

#buttonForm{
  width: 200px;
  height: 56px;
}
