.formContainer {
  display: flex;
  width: 1324px;

  padding: 30px;
  flex-direction: column;
  gap: 24px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #282828;
}


.containerMain{
    display: flex;
    justify-content: center;
}